body {
    padding: 0;
    margin: 0;
    /*font-size: 0;*/
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
}

#gameArea {
    width: 100vw;
    height: 100vh;
    background-color: #3dac22;
    background-image: url(images/felt.jpg);
}

#deckDiv, #discardDiv {
    position: absolute;
    background-color: rgba(47, 47, 47, 0.3);
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    margin: 0 auto;
}

#deckDiv {
    /*width: 1340px;*/
    left: 10px;
    top: 10px;
}

#discardDiv {
    right: 110px;
    top: 10px;

}

.player {
    background-color: rgba(47, 47, 47, 0.3);
    border-radius: 6px;
    color: #ffffff;
    display: inline-block;
    margin: 10px;
}

.playerName, .playerChips {
    text-align: center;
    margin: 4px;
}

.playerCards {
    position: relative;
    margin: 20px 10px;
}

.card {
    position: absolute;
    height: 100px;
    width: 80px;
    border-radius: 4px;
    color: #000000;
    font-size: 48px;
    line-height: 100px;
    display: inline-block;
    margin: 10px;
}

.back {
    position: absolute;
    transform: perspective(600px) rotateY(-180deg);
    backface-visibility: hidden;
    transition: transform .5s linear;
    background: url(images/cardBG.png) 0 0/80px 100px;
}

.face {
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: transform .5s linear;
    background: #ffffff 0 0/ 30px no-repeat;
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

.card:hover > .face {
    transform: perspective(600px) rotateY(180deg);
}

.face, .back {
    height: 100px;
    width: 80px;
    border-radius: 4px;
}

.heart {
    background-image: url(images/heart2.png);
}

.spade {
    background-image: url(images/spade2.png);
}

.club {
    background-image: url(images/club2.png);
}

.diamond {
    background-image: url(images/diamond2.png);
}

.actionBtns {
    width: 60px;
    height: 24px;
    background: #818181;
    margin: 4px;
    padding: 4px;
    display: inline-block;
    border-radius: 4px;

}


